
<div class="input">
    
    <br>
    <h4 class="first-txt">Enter Location to Get More Details </h4>
    <p><input class="second-txt" type="text" id="source" name="source" [(ngModel)]="source"></p>
    <h4 class="second1-txt"  id="temp" ></h4>
    <h4 class="second2-txt"  id="hum" ></h4>
    <h4 class="second3-txt"  id="speed" ></h4>

    <button type="button" class="button" onclick="myFunctionWeather(source)">Get</button>
    <br>
    
    <br>


</div>

    <img src="https://www-cdn.eumetsat.int/files/styles/16_9_large/s3/2020-06/ASpot_Weather.jpg?h=d1cb525d&itok=lvYWh_W8" alt="">